[LightDM]
minimum-vt=1
run-directory=/run/lightdm

[Seat:*]
session-wrapper=/etc/lightdm/Xsession

[XDMCPServer]

[VNCServer]
enabled=true
command=Xvnc -rfbauth /etc/vncpasswd
port=5900
listen-address={{ server_ip }}
width=1920
height=1080
depth=24
