[Interface]
Address             = 10.0.0.2/32
PrivateKey          = {{ wireguard_keys.client.private }}
DNS                 = 1.1.1.1
MTU                 = 1360

[Peer]
PublicKey           = {{ wireguard_keys.server.public }}
Endpoint            = {{ ansible_host }}:51820
AllowedIPs          = 10.0.0.0/24
PersistentKeepalive = 21