[Interface]
Address     = {{ server_ip }}/24
SaveConfig  = true
PrivateKey  = {{ wireguard_keys.server.private }}
ListenPort  = 51820
MTU         = 1360
PostUp      = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown    = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey   = {{ wireguard_keys.client.public }}
AllowedIPs  = 10.0.0.2/32